@import "../../styles/vars";

//header styles
header {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  //same as logo bg
  background-color: #f7f7f7;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  nav {
    button {
      background-color: transparent;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      outline: none;
      border: 0;
      cursor: pointer;
    }
  }
  .logo {
    width: 200px;
  }
  .socials {
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--primary);

    a,
    i {
      transition: 0.3s;
      color: inherit;
      &:hover {
        color: var(--secondary);
      }
    }
  }
}
.sidebar {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width <= $mobile) {
    width: 100%;
  }
  > button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  .logo {
    mix-blend-mode: hard-light;
    filter: grayscale(1);
  }
  .col {
    display: flex;
    flex-flow: column;
    padding: 0 20px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 111px;
    padding-bottom: 50px;
    justify-content: flex-start;
    //submit button
    > button {
      height: 50px;
      margin-top: 20px;
      background-color: var(--primary);
      border: 0;
      color: #fff;
      width: 100%;
      cursor: pointer;
      flex-shrink: 0;
    }
  }
}
.backDrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000b3;
  z-index: 1;
  backdrop-filter: blur(5px);
  @media (width <= $mobile) {
    display: none;
  }
}
.filterBlock {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  span {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }
  input {
    height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    border: 1px solid var(--gray);
  }
  > button {
    border: 2px solid var(--primary);
    background-color: transparent;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    height: 30px;
    &:hover {
      border-color: var(--secondary);
    }
    &.active {
      background-color: var(--secondary);
      color: #fff;
      border-color: var(--secondary);
    }
  }
}
